.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-right: 50px;
  font-size: 12px;
  height: 40px;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: -60px;
}

.left-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBar input {
  width: 200px;
  border: 0.5px solid rgb(197, 197, 197);
  height: 30px;
  border-radius: 5px;
  padding: 1px 10px;
  font-size: 14px;
  margin-left: 100px;
}

.dropdown {
  position: relative;
}

.btn-secondary {
  background-color: #ffffff;
  color: rgb(26, 25, 25);
  font-size: 14px;
  width: 100px;
  border: 0.5px solid rgb(194, 193, 193);
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
  height: 30px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  top: 35px;
}

.dropdown-item {
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  display: block;
  font-size: 13px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown-divider {
  background-color: #d5d8d5;
  height: 1px;
  border: none;
  margin: 5px 0;
}

.table-header {
  background-color: #daeaf8;
  font-weight: 500;
  font-size: 14px;
  color: #5e5b5b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

.vertical-divider {
  display: grid;
  height: 25px;
  margin-top: 7px;
  border: 0.3px solid rgb(228, 225, 225);
}

.label-input {
  display: flex;
  flex-direction: column;
}
.input {
  height: 28px;
  margin: 5px;
  border-radius: 8px;
  border: 0.5px solid rgb(233, 233, 233);
  padding: 3px;
  padding-left: 8px;
}

.number {
  height: 28px;
  width: 33%;
  margin: 5px;
  border-radius: 8px;
  border: 0.5px solid rgb(233, 233, 233);
  padding: 3px;
  padding-left: 8px;
}
.input:focus {
  border: 0.5px solid;
  border-color: rgb(0, 132, 255);
}
span {
  color: rgb(44, 43, 43);
  font-size: 13px;
  margin-top: 14px;
  margin-left: 3px;
}
.label {
  margin-bottom: 10px;
  margin-right: 22%;
  margin-left: 2%;
}
.label-image {
  margin-bottom: 10px;
  margin-right: 12%;
  margin-left: 2%;
}
textarea {
  margin: 5px;
  border-radius: 8px;
  border: 0.5px solid rgb(233, 233, 233);
  padding: 3px;
  padding-left: 8px;
}
h2 {
  font-weight: 500;
  font-size: 16px;
}
p {
  text-align: center;
  color: rgb(148, 149, 150);
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.addButton {
  border: 0.5px solid rgb(42, 157, 250);
  border-radius: 8px;
  height: 35px;
  margin: 5px;
  margin-top: 15px;
  background-color: rgb(14, 131, 226);
  color: white;
  font-size: 14px;
  align-items: center;
  font-size: 12px;
}
.addProjectButton:hover {
  cursor: pointer;
}
.cancelButton {
  border: 0.5px solid rgb(195, 197, 199);
  border-radius: 8px;
  height: 35px;
  margin: 5px;
  margin-top: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(121, 121, 121);
  font-size: 14px;
}
.cancelButton:hover {
  cursor: pointer;
  color: rgb(14, 131, 226);
  border-color: rgb(14, 131, 226);
}

.buttons {
  display: flex;
  justify-content: end;
}

img {
  margin-top: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.dropdown {
  position: relative;
}

.btn-secondary {
  background-color: #ffffff;
  color: rgb(26, 25, 25);
  font-size: 14px;
  border: 0.5px solid rgb(194, 193, 193);
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
  height: 30px;
  margin: 5px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 20%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  top: 35px;
}

.dropdown-item {
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  display: block;
  font-size: 13px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown-divider {
  background-color: #d5d8d5;
  height: 1px;
  border: none;
  margin: 5px 0;
}

.dropdown-category {
  position: relative;
}

.btn-secondary-category {
  background-color: #ffffff;
  color: rgb(26, 25, 25);
  font-size: 14px;
  width: 98%;
  border: 0.5px solid rgb(194, 193, 193);
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
  height: 35px;
  margin: 5px;
}

.dropdown-menu-category {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  top: 35px;
}

.dropdown-item-category {
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  display: block;
  font-size: 13px;
  cursor: pointer;
}

.dropdown-item-category:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown-divider-category {
  background-color: #d5d8d5;
  height: 1px;
  border: none;
  margin: 5px 0;
}

.imagePreview {
  display: flex;
}
.images {
  margin-right: 5%;
  margin-left: 2%;
}
