<div class="button">
  <div class="left-controls container">
    <form class="d-flex searchBar" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search by title"
        aria-label="Search"
      />
    </form>

    <!-- Status DropDown -->
    <div class="dropdown" (click)="toggleDropDown()">
      <div class="btn-group">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ selectedStatus || "All Status" }}
        </button>
        <ul class="dropdown-menu" *ngIf="dropdownOpen">
          <li>
            <a class="dropdown-item" (click)="selectStatus('Select All')"
              >Select All</a
            >
          </li>
          <hr class="dropdown-divider" />
          <li>
            <a class="dropdown-item" (click)="selectStatus('Approved')"
              >Approved</a
            >
          </li>
          <hr class="dropdown-divider" />
          <li>
            <a class="dropdown-item" (click)="selectStatus('Pending')"
              >Pending</a
            >
          </li>
          <hr class="dropdown-divider" />
          <li>
            <a class="dropdown-item" (click)="selectStatus('Rejected')"
              >Rejected</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Create Planogram Button Modal -->
  <button
    type="button"
    class="btn btn-primary button"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
  >
    Create Planogram
  </button>
  <div
    class="modal fade custom-modal"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5" id="staticBackdropLabel">
            Create new Planogram
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="label-input">
            <span><span style="color: red">*</span>Title</span>
            <input
              class="input form-control"
              type="text"
              name="title"
              placeholder="Enter Planogram Title"
              [(ngModel)]="title"
            />
          </div>

          <!-- Category DropDown -->
          <div class="label-input">
            <span><span style="color: red">*</span>Category</span>
            <div class="btn-group" (click)="toggleDropDownCategory()">
              <button
                class="btn btn-secondary-category btn-sm dropdown-toggle"
                type="button"
                aria-expanded="false"
              >
                {{ selectedCategory || "Select a Food Category" }}
              </button>
              <ul class="dropdown-menu-category" *ngIf="dropdownOpenCategory">
                <li>
                  <a
                    class="dropdown-item-category"
                    (click)="selectCategory('Juices')"
                    >Juices</a
                  >
                </li>
                <hr class="dropdown-divider" />
                <li>
                  <a
                    class="dropdown-item-category"
                    (click)="selectCategory('Milo')"
                    >Milo</a
                  >
                </li>
                <hr class="dropdown-divider" />
                <li>
                  <a
                    class="dropdown-item-category"
                    (click)="selectCategory('Nutrition')"
                    >Nutrition</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <!-- Channel DropDown -->
          <div class="label-input">
            <span><span style="color: red">*</span>Channel</span>
            <div class="btn-group" (click)="toggleDropDownChannel()">
              <button
                class="btn btn-secondary-category btn-sm dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ selectedChannel || "Select Channels" }}
              </button>
              <ul class="dropdown-menu-category" *ngIf="dropdownOpenChannel">
                <li>
                  <a
                    class="dropdown-item-category"
                    (click)="selectChannel('Small General Store')"
                    >Small General Store</a
                  >
                </li>
                <hr class="dropdown-divider" />
                <li>
                  <a
                    class="dropdown-item-category"
                    (click)="selectChannel('Tobbaco Kiosk')"
                    >Tobbaco Kiosk</a
                  >
                </li>
                <hr class="dropdown-divider" />
                <li>
                  <a
                    class="dropdown-item-category"
                    (click)="selectChannel('Petromart')"
                    >Petromart</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <!-- Shop DropDown -->
          <div class="label-input">
            <span><span style="color: red">*</span>Shop</span>
            <div class="btn-group" (click)="toggleDropDownShop()">
              <button
                class="btn btn-secondary-category btn-sm dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ selectedShop || "Select Shops" }}
              </button>
              <ul class="dropdown-menu-category" *ngIf="dropdownOpenShop">
                <li>
                  <a
                    class="dropdown-item-category"
                    (click)="selectShop('Malik Kiryana Store')"
                  >
                    Malik Kiryana Store</a
                  >
                </li>
                <hr class="dropdown-divider" />
                <li>
                  <a
                    class="dropdown-item-category"
                    (click)="selectShop('Glorious Store')"
                    >Glorious Store</a
                  >
                </li>
                <hr class="dropdown-divider" />
                <li>
                  <a
                    class="dropdown-item-category"
                    (click)="selectShop('Ali Store')"
                    >Ali Store</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <!-- Rack Width DropDwon -->
          <div class="label-input">
            <span><span style="color: red">*</span>Rack Width</span>
            <div class="rack">
              <input
                type="number"
                name="rackWidth"
                placeholder="100"
                [(ngModel)]="rackWidth"
                class="rack-width form-control"
              />
              <div
                class="dropdown-rack-width"
                (click)="toggleDropDownRackWidth()"
              >
                <button class="btn btn-secondary-rack-width" type="button">
                  {{ selectedStatusRackWidth || "cm" }}
                </button>
                <ul
                  class="dropdown-menu-rack-width"
                  *ngIf="dropdownOpenRackWidth"
                >
                  <li>
                    <a
                      class="dropdown-item-rack-width"
                      (click)="selectStatusRackWidth('cm')"
                      >cm</a
                    >
                  </li>
                  <hr class="dropdown-divider-rack-width" />
                  <li>
                    <a
                      class="dropdown-item-rack-width"
                      (click)="selectStatusRackWidth('in')"
                      >in</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Rack Height DropDwon -->
          <div class="label-input">
            <span><span style="color: red">*</span>Rack Height</span>
            <div class="rack">
              <input
                type="number"
                name="rackHeight"
                placeholder="100"
                [(ngModel)]="rackHeight"
                class="rack-width form-control"
              />
              <div
                class="dropdown-rack-width"
                (click)="toggleDropDownRackHeight()"
              >
                <button class="btn btn-secondary-rack-width" type="button">
                  {{ selectedStatusRackHeight || "cm" }}
                </button>
                <ul
                  class="dropdown-menu-rack-width"
                  *ngIf="dropdownOpenRackHeight"
                >
                  <li>
                    <a
                      class="dropdown-item-rack-width"
                      (click)="selectStatusRackHeight('cm')"
                      >cm</a
                    >
                  </li>
                  <hr class="dropdown-divider-rack-width" />
                  <li>
                    <a
                      class="dropdown-item-rack-width"
                      (click)="selectStatusRackHeight('in')"
                      >in</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <hr class="divider" />
          <div class="buttons">
            <button
              type="button"
              class="btn btn-primary addButton"
              (click)="planogramEditor()"
            >
              Add Planogram
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-header container text-center">
  <div class="row">
    <div class="col-3">Title</div>
    <div class="col-2">Rack Height</div>
    <div class="col-2">Rack Width</div>
    <div class="col-2">Approval Status</div>
    <div class="col-3">Actions</div>
  </div>
  <hr style="border: 0.3px solid rgb(228, 225, 225)" />
</div>

@for (record of getFilteredPlanograms(); track record.id) {
<div class="container text-center">
  <div class="row">
    <div class="col-3">{{ record.title }}</div>
    <div class="col-2">{{ record.height }} cm</div>
    <div class="col-2">{{ record.width }} cm</div>
    <div class="col-2">
      <div style="display: flex; justify-content: center; gap: 5px">
        <button class="btn btn-outline-success btn-approved btn-sm">
          Approve
        </button>
        <button class="btn btn-outline-danger btn-rejected btn-sm">
          Reject
        </button>
      </div>
    </div>
    <div class="col-3">
      <div style="display: flex; justify-content: center; gap: 5px">
        <button
          class="btn btn-outline-dark btn-edit btn-sm"
          (click)="editPlanogram(record)"
        >
          Edit
        </button>
        <button
          class="btn btn-outline-dark btn-delete btn-sm"
          (click)="deletePlanogram(record.id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <hr style="border: 0.3px solid rgb(228, 225, 225)" />
</div>
}
